.content-wrapper
  &__profile__photo
    float left
    margin-right 25px
    border-radius 6px
  &__profile__title
    content-grey-title()
  &__profile__text
    content-table-text()
    text-transform none
