.content-wrapper
	&__profile-photo
		float left
		margin-right 25px
		border-radius 6px
	&__profile-title
		padding 6px 0
		width 100px
		content-grey-title()
		text-transform uppercase
	&__profile-text
		content-table-text()
		text-transform none
