.content-head
  padding-top 20px
  padding-bottom 20px
  padding-left 20px
  height 100px
  width 100%
  background #F6F7F8
.content-head__photo
  float left
  margin-left 15px
  border-radius 5px
  border 3px solid #fff
.content-head__title
  float left
  padding-top 15px
  padding-bottom 15px
  padding-left 10px
  color #474E55
  sans-regular()
  font-size 16px
  & span
    sans-bold()
    font-size 16px
