.content-wrapper
	padding 30px
	&__title
		padding-bottom 20px
		text-transform uppercase
		color green-text
		sans-bold()
	&__semi-title
		content-grey-title()
		text-transform initial
	&__text
		content-table-text()

