.inbox
	z-index 0
	position fixed
	overflow hidden
	width 25.33333%
	height 100%
	padding-left 52px
	float left
	background #EDF1F2
	transition all 1s
	&.menu-active
		width 34.33333%
		padding-left 240px
		transition all 1s
		& .inbox-title
			padding-left 268px
	&-title
		z-index 2
		opacity 1
		display block
		position absolute
		float left
		left 0
		height 100px
		width 100%
		padding-top 36px
		padding-right 30px
		padding-bottom 36px
		padding-left 82px
		sans-regular()
		font-size 26px
		color #474E55
		background #edf1f2
		border-right 1px solid #D6D8D9
		border-bottom 1px solid #D6D8D9
		transition all 1s
		&.active
			& .inbox-title__text
				opacity 0
				transition all 1s
			& .inbox-title_search-button
				opacity 0
				transition all 1s
			& .inbox-title__search-line
				width 100%
				opacity 1
				transition all 1s
		&-wrap
			position relative
		&__search
			&-line
				position absolute
				opacity 0
				height 30px
				width 1px
				padding-left 10px
				padding-bottom 2px
				padding-top 2px
				padding-right 10px
				font-size 16px
				color #474e55
				background #fff
				border 1px solid #b4b6b7
				border-radius 15px
				transition all ease 1s
			&-close-icon
				display block
				float left
				height 24px
				width 24px
				cursor pointer
				transition all ease 1s
				&:before
					content '\f055'
					position absolute
					opacity 0
					transform rotate(-360deg)
					font-awesome()
					transition all ease 1s
				&.active
					padding-left 100%
					margin-left -27px
					transition all ease 1s
					&:before
						content '\f055'
						opacity 1
						top 3.2px
						transform rotate(45deg)
						font-awesome()
						transition all ease 1s
		&__text
			position absolute
			opacity 1
		&_search-button
			position absolute
			cursor pointer
			right 0
	&-title_search-button:before
		content "\f002"
		font-awesome()
		font-size 17px
		color #5b6168
	&__message
		position relative
		padding-top 14px
		padding-bottom 14px
		padding-left 30px
		cursor pointer
		border-right 1px solid border-grey
		border-bottom 1px solid border-grey
		&:hover
			background #f8fcfd
		&_new
			&:before
				content ""
				display block
				position absolute
				left 9px
				top 25px
				height 8px
				width 8px
				border-radius 5px
				background green-text
			& .inbox__message_theme
				color #485057
				sans-bold()
				font-size 15px
				line-height 17px
		&_mark
			&:before
				content ""
				display block
				position absolute
				left 9px
				top 25px
				height 8px
				width 8px
				border-radius 5px
				background #EBAF3C
		&_active
			background #fff
			border-right none
		&_date
			sans-regular()
			font-size 12px
			line-height 14px
			color #8B9095
		&_theme
			color #485057
			sans-regular()
			font-size 15px
			line-height 17px

.inbox.menu-active .inbox__title
	margin-left -240px
	padding-left 270px
	transition all 1s

#inbox-scroll
	z-index 1
	display block
	position relative
	padding-top 100px
	height 100%
	overflow-y scroll
#inbox-scroll::-webkit-scrollbar
	width 0 !important

@media screen and (min-width 1200px)
	.inbox
		width 18.33333%
@media screen and (max-width 1000px)
	.inbox
		&.menu-active
			width 0%
			padding-left 240px
			transition all 1s
