body
  height 100%
  color #000
  font-family sans-serif
  background-color main-background
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html,body
  height 100%
  overflow visible
section
  height 100%
a
  text-decoration none
  color #ebebec
.float-r
	float right
.float-l
	float left
.clearfix:after
	display table
	clear both
	content ''
.grey-line
	margin-top 25px
	margin-bottom 25px
	width 100%
	border-top 1px solid #D6D8D9
