.container
  display block
  width 782px
  margin 0 auto
  padding-top 25px
  padding-bottom 25px
.education
  padding 10px 0
.education__title
  display inline-block
  float left
  padding-top 21px
  padding-right 7px
  padding-bottom 2px
  sans-bold()
  color brown-text
.education__link
  float left
  padding-top 21px
  sans-bold()
  color blue-link
  text-decoration underline
    &:hover
      text-decoration none
.education__radio
  float left
  margin-top 21px
  margin-left 12px
  height 40px
  width 170px







