.header
  display block
  margin 0 auto
  width 1000px
  padding-top 25px
  padding-bottom 25px
.header__logo
  float left
  margin-top 21px
  margin-left 43px
  height 54px
  width 154px
  background url(../images/logo-csssr.png) center center no-repeat

.alert-banner
  margin-top 1px
  float right
  margin-right 50px
  width 258px
  height 111px
  background url(../images/alert.png) center center no-repeat
.header__title
  width 252px
  margin 0 auto
  padding  36px 38px 0 0
.header__title-img
  height 110px
  background url(../images/page-title.png) center center no-repeat
