sans-bold()
  font-family 'Sans Bold', sans-serif
  line-height 24px
sans-regular()
  font-family 'Sans Regular', sans-serif
  line-height 24px
font-awesome()
  font-family 'FontAwesome'
pattern-background()
  background-image url(../images/background.png)
content-grey-title()
  sans-regular()
  font-size 13px
  line-height 20px
  text-transform uppercase
  color tb-title-grey
content-table-text()
  sans-regular()
  font-size 16px
  color grey-text
  & span
    color tb-title-grey